/* RESET & BASE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: rgb(48, 48, 252);
  --white: #fff;
  --black: #000;
  --red: red;
  font-family: 'Segoe UI', sans-serif;
}

::selection {
  background-color: blueviolet;
}

::before {
  background-color: #ffcc00;
}

html {
  scroll-behavior: smooth;
  background-color: #000;
}

body {
  background-color: var(--white);
  overflow-x: hidden;
  font-family: var(--font-family);
}
