
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Orbitron', sans-serif;
    background: radial-gradient(circle at center, #000000, #2c003c);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    overflow: hidden;
}

.clock-container {
    background: rgba(0, 0, 0, 0.8);
    padding: 80px;
    border-radius: 20px;
    box-shadow:
        0 0 20px #0004ff,
        0 0 30px #a300ff,
        0 0 50px #007013;
    text-align: center;
    border: 2px solid #ffffff;
    width: 80%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* max-width: 600px; */
}

h1 {
    font-size: 2.8rem;
    color: #bca8be;
    text-shadow: 0 0 10px #ff7300, 0 0 20px #000000;
    margin-bottom: 20px;
}

#clock {
    font-size: 4rem;
    color: #26a50c;
    text-shadow: 0 0 10px #a300ff, 0 0 20px #ff0000, 0 0 30px #c900ff;
    margin-bottom: 30px;
}

#date {
    font-size: 1.5rem;
    color: #ffffff;
    text-shadow: 0 0 10px #a300ff, 0 0 20px #ff0000, 0 0 30px #c900ff;
    margin-bottom: 20px;
}

button {
    margin-top: 30px;
    padding: 14px 28px;
    background: transparent;
    border: 2px solid #a300ff;
    color: #a300ff;
    border-radius: 50px;
    font-size: 1.5rem;
    cursor: pointer;
    text-shadow: 0 0 10px #cfabe4;
    box-shadow: 0 0 10px #fbff00;
    transition: all 0.3s ease;
}

button:hover {
    background: #a300ff;
    color: #000000;
    text-shadow: none;
    box-shadow: 0 0 20px #a300ff, 0 0 40px #a300ff;
}

button:focus {
    outline: none;
}