* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background-color: #000000;
    color: #fff;
    line-height: 1.6;
    
}

.container{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.show-popup-btn {
    padding: 10px 20px;
    background-color: #198177;
    color: #fff;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    font-size: 16px;
}

.show-popup-btn:hover {
    background-color: #0f5a4e;
    color: #000000;
}

.popup-box {
    width: 90%;
    max-width: 400px;
    height: auto;
    min-height: 200px;
    background-color: aqua;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: visibility 1s, transform 0.4s;
    padding: 20px 10px;
    box-sizing: border-box;
}

@media (max-width: 500px) {
    .popup-box {
        width: 98%;
        min-height: 150px;
        padding: 10px 5px;
    }
}

.popup-box.showPopup {
    visibility: visible;
    transform: translate(-50%, 0%) scale(1);
}

.popup-box h1 {
    font-size: 24px;
    text-align: center;
    margin-top: 5px;
    color: #000000;
}

.popup-box hr {
    width: 100%;
    border: 1px solid #000000;
}

.popup-box p {
    width: 80%;
    font-size: 16px;
    margin: 10px;
    color: #000000;
    float: left;
}

.bottom-btns {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}

.bottom-btns button {
    width: 100px;
    padding: 10px 20px;
    background-color: #198177;
    color: #fff;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    font-size: 16px;
}